
// Body
$body-bg:   #fff;

// Form
$form-bg:   #f4fffd;

// Border
$w3-border: 1px solid #ccc;

// Text Color
$default-font-color: #707070;



// W3CSS Defaults:

// Colors
$w3-red:     #F44336;
$w3-pink:    #E91E63;
$w3-orange:  #FF9800;
$w3-yellow:  #FFEB3B;
$w3-green:   #4CAF50;
$w3-teal:    #009688;
$w3-cyan:    #00BCD4;
$w3-lime:    #CDDC39;
$w3-blue:    #2196F3;
$w3-indigo:  #3F51B5;
$w3-purple:  #9C27B0;
$w3-khaki:   #F0E68C;
$w3-black:   #000000;
$w3-brown:   #795548;
$w3-gray:    #BBBBBB;
$w3-light-gray: #F1F1F1;

// Typography
$default-font: Verdana, sans-serif;
$default-line-height: 1.5;
$default-font-size: 15px;

// Font Sizes
$w3-tiny: 10px;
$w3-small: 12px;
$w3-medium: 15px;
$w3-large: 18px;
$w3-xlarge: 24px;
$w3-xxlarge: 36px;
$w3-xxxlarge: 48px;
$w3-jumbo: 64px;

// Hover Link
$link-hover: $w3-black;
